.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    position: relative;
    margin-top: 150px;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    height: 90px;
    line-height: 90px;
    font-weight: 100;
  }
}

.search-field {
  position: relative;

  &__icon {
    position: absolute;
    top: 20%;
    left: 20px;
    color: gray;
    font-size: 30px;
  }

  &__form {
    display: flex;
    margin-bottom: 50px;
  }

  &__input {
    padding-left: 80px;
    padding-right: 200px;
    height: 80px;
    border: none;
    width: 100%;
    font-size: 24px;
  }

  &__btn {
    padding: 0 20px;
    border-radius: 0 80px 0 0;
    border: none;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    transition: 0.3s ease-in-out;
    color: #fff;
    background: #1eb7ee;
    cursor: pointer;

    &:hover {
      border-radius: 0 40px 0 0;
    }
  }
}
